$gold: #FFB646;

.Navigation {
    width: 90%;
    height: 5em;

    margin: 0 auto;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .Brand .Logo, .Brand .Name, .Menu, .Hide {
        width: 3em;
        height: 3em;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .Brand {
        display: flex;
        justify-content: center;
        
        flex-flow: column;

        .Logo {
            background-image: url('../../assets/icons/lady.png');
            border-radius: 50%;
        }
    }

    .Menu {
        background: none;
        background-image: url('../../assets/icons/menu.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        transform: scale(0.7);

        outline: none;
    }
    
    .Links, .Call, .Brand .Name {
        display: none;
    }
}

.Scrolled {
    background-color: #151515;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0);
    padding: 0 5vw;
    height: 5em;

    animation: appear 0.2s 0s ease forwards;
}

.Expand {
    background-color: #151515;
    padding: 0 5vw;
    
    .Hide, .Brand, .Menu {
        z-index: 300;
    }

    .Menu {
        background: none;
        background-image: url('../../assets/icons/close.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        transform: scale(0.5);

        outline: none;
    }
    
    .Links {
        position: fixed;
        top: 0;
        left: 0;

        z-index: 200;

        width: 100vw;
        height: 100vh;
        
        background-color: #151515;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        overflow: hidden;

        animation: fadeIn 0.3s 0s ease forwards;

        .Link {     
            display: flex;
            align-items: center;
            justify-content: center;

            flex-flow: column;

            margin: 0 2.5em;

            .Text {
                margin: 0.65em 0;
                padding: 0.35em 0;

                font-family: 'Lexend Deca', sans-serif;
                font-size: 1.5em;
                
                text-transform: uppercase;
                text-decoration: none;
                text-shadow: 0 2px 7px rgba(0, 0, 0, 0.16);
                
                color: white;

                outline: none;

                transition: all 0.15s;

                &:hover {
                    color: lighten($color: $gold, $amount: 15);
                }
            }

            .Selected {
                color: $gold;                    
                border-bottom: 1.5px solid $gold;

                &:hover {
                    color: $gold;
                }
            }
        }
    }
    
    .Call {
        position: fixed;
        bottom: 2em;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 300;

        display: block;

        padding: 0.75em 1.5em;
        border: 1.5px solid white;
        
        font-family: 'Lexend Deca', sans-serif;
        font-size: 1em;

        text-transform: uppercase;
        text-decoration: none;

        color: white;

        transition: all 0.15s;

        animation: fadeInCall 0.3s 0s ease forwards;
        
        &:hover {
            background-color: white;
            color: #444444;
        }
    }
}

@keyframes fadeInCall {
    from {
        opacity: 0;
        bottom: 50vh;
    }

    to {
        opacity: 1;
        bottom: 2vh;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        height: 50vh;
    }

    to {
        opacity: 1;
        height: 100vh;
    }            
}

@keyframes appear {
    from {
        background-color: transparent;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0);
        height: 5em;
    }

    to {
        background-color: #151515;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
        height: 4em;
    }            
}

@media(min-width: 720px) {
    .Navigation {
        height: 7em;

        .Hide {
            display: none;
        }

        .Brand {
            display: flex;
            align-items: center;

            .Name {
                display: block;

                height: 1em;
                width: 4.5em;

                margin-top: 5px;
                
                background-image: url('../../assets/icons/name.png');
                background-size: contain;
            }
        }
    }
        
    .Scrolled {
        height: 7em;

        animation: appear 0.3s 0s ease forwards;
    }

    @keyframes appear {
        from {
            height: 7em;
        }

        to {
            height: 5.5em;
        }            
    }
}

@media(min-width: 1024px) {
    .Navigation {
        width: 93%;

        .Menu {
            display: none;
        }

        .Links {
            display: block;

            display: flex;
            align-items: center;
            justify-content: center;

            .Link {     
                display: flex;
                align-items: center;
                justify-content: center;

                flex-flow: column;

                margin: 0 2.5em;

                .Text {
                    padding: 0.75em 0;

                    font-family: 'Lexend Deca', sans-serif;
                    font-size: 1em;
                    
                    text-transform: uppercase;
                    text-decoration: none;
                    text-shadow: 0 2px 7px rgba(0, 0, 0, 0.16);
                    
                    color: white;

                    outline: none;

                    transition: all 0.15s;

                    &:hover {
                        color: lighten($color: $gold, $amount: 15);
                    }
                }

                .Selected {
                    color: $gold;                    
                    border-bottom: 1.5px solid $gold;

                    &:hover {
                        color: $gold;
                    }
                }
            }
        }

        .Call {
            display: block;

            padding: 0.75em 1.5em;
            border: 1.5px solid white;
            
            font-family: 'Lexend Deca', sans-serif;
            font-size: 1em;

            text-transform: uppercase;
            text-decoration: none;

            color: white;

            transition: all 0.15s;
            
            &:hover {
                background-color: white;
                color: #444444;
            }
        }
    }
    
    .Scrolled {
        padding: 0 calc(3.5%);
    }
}
