.Footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0.5em 0;
  background-color: #232323;
}

.Footer .Main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 90%;
}

.Footer .Main .About, .Footer .Main .Links, .Footer .Main .Question {
  width: 85%;
}

.Footer .Main .About .Name, .Footer .Main .Links .Name, .Footer .Main .Question .Name {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: white;
  margin: 1.5em 0 1em;
}

.Footer .Main .About .Description {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.5em;
  color: #989898;
  margin-bottom: 1.5em;
}

.Footer .Main .About .Social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.Footer .Main .About .Social .Link {
  margin-right: 20px;
}

.Footer .Main .About .Social .Link a {
  width: 60px;
  height: 60px;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: white;
  border-radius: 50%;
  background-color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer .Main .Links {
  display: none;
}

.Footer .Main .Links .Pages {
  list-style-type: none;
}

.Footer .Main .Links .Pages .Page {
  margin-bottom: 1.5em;
}

.Footer .Main .Links .Pages .Page a {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #989898;
}

.Footer .Main .Question .Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
}

.Footer .Main .Question .Info .Icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

.Footer .Main .Question .Info .Text {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.2em;
  color: white;
}

.Footer .Copyright {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.25;
  color: #989898;
  max-width: 65%;
}

@media (min-width: 720px) {
  .Footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.7em;
  }
  .Footer .Main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Footer .Main .About, .Footer .Main .Links, .Footer .Main .Question {
    width: auto;
    max-width: 30%;
  }
  .Footer .Main .About .Social .Link a {
    width: 40px;
    height: 40px;
  }
  .Footer .Main .Links {
    display: block;
  }
  .Footer .Copyright {
    margin: 2em 0 0.5em;
  }
}

@media (min-width: 1024px) {
  .Footer {
    font-size: 0.85em;
  }
  .Footer .Main {
    width: 80%;
  }
  .Footer .Main .About, .Footer .Main .Links, .Footer .Main .Question {
    width: auto;
    max-width: 30%;
  }
  .Footer .Main .About .Name, .Footer .Main .Links .Name, .Footer .Main .Question .Name {
    margin: 2em 0;
  }
  .Footer .Main .About .Social .Link a {
    width: 55px;
    height: 55px;
  }
}
/*# sourceMappingURL=Footer.module.css.map */